.slider {
  width: 550px;
  text-align: center;
  overflow: hidden;
}
.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
  display: none;
}
.slides div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 550px;
  height: 367px;
  margin-right: 50px;
  border-radius: 10px;
  background: var(--color-bg);
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
}

.slides img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links a div {
  width: 12px;
  height: 12px;
  background: var(--color-txt);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 1rem 4px;
}

.links a .activeSlide {
  background: darkcyan;
}

@media all and (min-width: 650px) and (max-width: 1024px) {
  .slider {
    width: 600px;
  }

  .slides div {
    width: 600px;
    height: 600px;
  }
}

@media only screen and (max-width: 1024px) {
  .links {
    display: none;
  }
}
