.container {
  margin: 2rem 15%;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 15vh 0;
}

.content article {
  padding-top: 2rem;
}

.content .name {
  font-size: 4rem;
  font-weight: bolder;
  margin: 0;
}
.content .job {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  margin: 1rem 0 2rem 0;
}
.container .jobsListContainer {
  height: 40px;
  overflow: hidden;
  margin-left: 0.5rem;
  margin-top: 3px;
}

.container .jobsList {
  list-style: none;
  margin: 0;
  padding: 0;
  animation: wordSwitcher 5s infinite;
}
.content .socialIcons svg {
  margin: 0 0.5rem;
}

.profile {
  width: 480px;
  height: 480px;
}

@keyframes wordSwitcher {
  0% {
    margin-top: 0px;
  }
  5% {
    margin-top: -40px;
  }
  50% {
    margin-top: -40px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -40px;
  }
}

@media (max-width: 1024px) {
  .content {
    flex-direction: column-reverse;
    margin: 6vh 0;
  }

  .content article {
    text-align: center;
  }

  .content .job {
    justify-content: center;
    text-align: initial;
    margin: 1rem 0 2rem 0;
  }
}

@media (max-width: 1024px) and (min-width: 601px) {
  .content .name {
    font-size: 3.3rem;
  }
  .content .job {
    font-size: 2rem;
  }
  .profile {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 1rem 1.5rem;
  }
  .content .name {
    font-size: 2.2rem;
  }
  .content .job {
    font-size: 1.2rem;
  }
  .container .jobsListContainer {
    height: 25px;
    margin-top: 7px;
  }
  .profile {
    width: 300px;
    height: 300px;
  }

  @keyframes wordSwitcher {
    0% {
      margin-top: 0px;
    }
    5% {
      margin-top: -25px;
    }
    50% {
      margin-top: -25px;
    }
    55% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -25px;
    }
  }
}
